@import url(https://fonts.googleapis.com/css?family=Khula:700);

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: CircularStd;
  height: 340vh;
  background-image: url("./img/aurora.jpeg");
  background-size: cover;
  background-color: #cccccc;
  margin: 0;
}

ul {
  margin-left: auto;
}

li {
  font-size: 25px;
  display: inline-flex;
  padding: 5px 30px;
}

.contact {
  margin-right: 30px;
}

a {
  color: white;
  text-decoration: none;
  position: relative;
}

.nav a:hover {
  color: #35ca8e;
}

.nav a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #35ca8e;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav a:hover:after {
  width: 100%;
  left: 0;
}

.simple-linear {
  background: linear-gradient(to top, #0c0d18, transparent);
}

span {
  font-family:Khula;
	font-size: 30px;
}

span:after {
	content:"_";
	opacity: 0;
	animation: cursor 1s infinite;
}

#projects {
  color: white;
  margin-left: 20px;
}

@keyframes cursor {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#contact {
  display: flex;
  text-align: center;
  padding-top: 5vh;
}

#wrap {
	box-sizing: border-box;
	display: flex;
  margin: 20px auto;
	vertical-align: middle;
}

.cover {
  object-fit: cover;
  height: 25vh;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.2); }

.cover {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 1px;
}

.cover:hover {
  box-shadow: 0 0 8px 3px rgba(153, 225, 224, 1);
}
