html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background: #e9ebee;
  margin: 0;
}

ul {
  margin-left: auto;
}

li {
  font-size: 20px;
  display: inline-flex;
  padding: 0 20px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #ffb848;
}

.me {
  display: block;
  min-width: 0;
  height: auto;
  max-width: 100%;
}
