html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: CircularStd;
  height: 350vh;
  background-image: url("./img/aurora.jpeg");
  background-size: cover;
  background-color: #cccccc;
  margin: 0;
}

ul {
  margin-left: auto;
}

li {
  font-size: 25px;
  display: inline-flex;
  padding: 5px 30px;
}

.contact {
  margin-right: 30px;
}

a {
  color: white;
  text-decoration: none;
  position: relative;
}

a:hover {
  color: #35ca8e;
}
